
.banner {
    position: relative;
    text-align: end;
    margin: 0 2.25em 2.25em 0;
}

.banner__img {
    position: relative;
}

.banner__text {
    width: max-content;
    position: absolute;
    top: -14%;
    left: 54%;
    font-family: "GothamPro";
    font-size: 9em;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    opacity: .2;
    letter-spacing:-0.155em;
}

p span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

p span:nth-child(1){
    animation-delay: .5s;
}
p span:nth-child(2){
    animation-delay: 2s;
}
p span:nth-child(3){
    animation-delay: 2.5s;
}
p span:nth-child(4){
    animation-delay: 3s;
}
p span:nth-child(5){
    animation-delay: 3.5s;
}
p span:nth-child(6){
    animation-delay: 3.75s;
}
p span:nth-child(7){
    animation-delay: 4s;
}
p span:nth-child(8){
    animation-delay: 4.5s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}

.banner__airplaner {
    width: 1%;
    height: 1%;
    position: absolute;
    bottom: 4%;
    right: 0%;
    
    animation: appearance 1s linear 5s forwards;

}

@keyframes appearance {
    0% {
        width: 1%;
        height: 1%;
        bottom: 4%;
        right: 0%;
    }
    
    100% {
        width: 67%;
        height: 133%;
        bottom: -15%;
        right: 2%;
       
    }
}