.news {
    font-family: "Roboto-Bold";
}

.news__header {
    font-size: 3.0625em;
    color: #262424;
    margin: 0;
    line-height: 1;
    margin-bottom: 0.816326em;
}
.news__content ul {
    padding: 0;
    margin: 0;
}

.news__content-list {
    list-style: none;
    margin: 0;
}

.news__content-item {
    display: flex;
    border-bottom: 2px solid #f4f4f4;
    padding: 1.875em 0 1.875em 0;
}

.news__content-item:last-child {
    border-bottom: none;
}

.news__content-picture {
    width: 10.4375em;
    height: 10.4375em;
}

.news__content-img {
    width: 10.4375em;
    height: 10.4375em;
    border-radius: 50%;
    background-color: #f5f5f5;
    background-position: 70% 50%;
   
}

.img--air {
    background-image: url(../img/news/air.jpg);
    background-size: 112%;
}

.img--mountain{
    background-image: url(../img/news/mountain.jpg);
    background-size: 105%;
    background-position: 50% 0%;
}


.img--baby{
    background-image: url(../img/news/baby.jpg);
    background-size: 110%;
    background-position: 31% 49%;
}

.news__content-fill {
    font-family:"Roboto-light";
    margin-left: 1.25em;
}


.fill-data {
    color: #656464;
    margin: 0 0 0.8571428em 0;
    font-size: 0.875em;
}

.fill-header {
    color: #262424;
    font-family:"Roboto-Bold";
    font-size: 1.125em;
    margin: 0 0 1.222222em 0;
    line-height: 0.7;
}

.fill-text {
    font-size: 1.125em;
    line-height: 1.8;
    padding: 0 3.388888em 0 0;
    margin: 0;
}

