

.sidebar {
    width: 7.8125em;
    font-family: "Roboto-Bold";
}

/* .navigation {
    margin-top: 1.5625em;
} */

.navigation__list {
    padding: 0 0 0 1.25em;
    margin: 0;
    /* padding: 1.25em; */
    list-style: none;
}

.navigation__item {
    margin-bottom: 1.875em;
}

.navigation__link {
    display: flex;
    text-decoration: none;
    color: #5972b1;
}

.navigation__icon {
    width: 1.25em
}

.navigation__title {
    font-size: 0.75em;
    margin: 0.3125em 0 0 1.25em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navigation__title--activ {
    color: #262424;
}