
.tariff {
  font-family: "Roboto-Bold";
  margin-bottom: 3.75em;
}

.tariff__header {
  margin-bottom: 1.5625em;
}

.tariff__header-text {
  font-size: 3.0625em;
  color: #262424;
  margin: 0;
  padding: 0;
}

.tariff__list {
  width: 50em;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tariff__item {
  width: 15.625em;
  border: 2px solid #fff;
}

.tariff__item:hover {
  border: 2px solid #69b9c328;
  border-radius: 8px;
}

.tariff__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #5972b1;
  width: 4.125em;
  height: 4.125em;
  margin-top: 2.5em;
  margin-left: 5.625em;
      
}

.tariff__content {
  display: flex;
  flex-direction: column;
  font-family: "Roboto-light";
  font-size: 1.125em;
}

.content-option__list {
  list-style-type:disc;
}

.content-header {
  display: flex;
  justify-content: center;
  margin-top: 1.9444em;
}

.content-header__text {
  margin: 0;
  font-size: 0.5989em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #262626;
}

.content-option__text {
  padding: 0 1.5em 0 1.5em;
  text-align: center;
  
}

.content-option__point {
  margin: 0.84em;
}

.tariff__price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tariff__price-img {
  width: 1.3125em;
  height: 1.625em;
  margin-top: 0.3125em;
}

.tariff__price-text {
  margin: 0.742252em 0 0.927816em 0;
  font-family: "Roboto-Rgular";
  font-size: 3.368125em;
  text-align: center;
}

/* . {
    background-image: url(../img/reviews/comments-logo.jpg);
    background-color: #aaa8a8;
    background-size: 100%;
} */